/* 
    Description: Master CSS file for adding style properties throughout UI.
    Created on : Jul 1, 2015, 7:28:13 PM
    Author     : jsnrice
*/

/*** GLOBAL DEFAULTS ***/

body {
    background-color: black;
    color: #FFFFFF;
    font-family:"Times New Roman";
}

/*** 
 * The following will override the body and allow our background to be dimmed so the star brightest
 * doesn't choke out the content:
 */
body::after {
    background-image: url("../images/stars3.jpg");
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;     
}

/* By default display all table elements vertically: */
table {
    display:block;
}

/** Alignments: **/
.main-title, title, table, marquee {
    padding-left: 120px;
}

.main-title, .title {
    float: left;    
    letter-spacing: 5px;
    font-size: 50pt;
    padding-left: 235px;
}

.title {
    font-size: 20pt;
    padding-left: 236px;
    font-weight: bold;
}

.content {
    margin-left: 420px;    
    padding-top: 180px;
    opacity: 50% !important;
    padding-left: 0px !important;
}

.content .text {
    position: absolute;
    font-family: sans-serif;
    // background-color: rgba(0,0,0,0.8);
    padding: 10px;
    // Overflow scroll bar in case we need it:
    /*
    height: 30pc; 
    overflow-y: scroll;
    */
}

h1 {
    text-decoration: none;
    font-weight: lighter;
    text-align: center;
}

/*** NAVIGATION MENU BAR ****/

.navbar {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
    margin-left: 420px;
    text-align: center;
}

.navbar li {
    float: left;
    width: 150px;
    display: inline;    
    border: 2px solid #FFFFFF;
    border-radius: 1px;    
    letter-spacing: 5px;
}

/** 
 * Optional style where the border is just a divider. Nothing more. 

.navbar li+li { 
    border-left: 2px solid #FFF 
}
*/

.navbar li a {
    display: inline-block;
    background: #333;
    color: #FFF;
    display: block;
    padding: 7px 8px;
    text-decoration: none;
    border-top: 1px solid #069;
}

.navbar li a:hover {
    background-color: #069;
}

/*=== submenu ===*/

.navbar ul {
    display: none;
    position: absolute;
    margin-left: 0px;
    list-style: none;
    padding: 0px;
}

.navbar ul li {
    width: 160px;
    float: left;
}

.navbar ul a {
    display: block;
    height: 15px;
    padding: 7px 8px;
    color: #FFF;
    text-decoration: none;
    border-bottom: 1px solid #222;
}

.navbar ul li a:hover {
    color: #069;
}

.trajectory_img, .lorri_img {
    height: 500px;
}

.lorri_img {
    width: 550px !important;
    height: 400px !important
}

.time {
    font-weight: bold !important;
    font-family: Verdana !important;
}