/*
   Description:
   New Perspectives on HTML and XHTML 5th Edition
   Tutorial 6
   Case Problem 4 

   Filename:         mill.css
*/

body {
    margin: 0px; 
    font-family: Arial, Helvetica, sans-serif
}

#heading {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    height: 85px;
}

#heading h1, h2, h3 {
    margin-left: 20px; 
    letter-spacing: 2px;
}

#links {
    position: absolute; 
    top: 80px;
    left: 0px
}

#links ul {
    list-style-type: none; 
    padding: 0px; 
    margin: 5px 0px 0px 0px
}

#links li {
    display: inline; 
    float: left; 
    font-size: 12px; 
    margin-right: 5px
}

#links a {
    display: block; 
    color: black; 
    text-decoration: none; 
    text-align: center;
    width: 95px; 
    height: 18px; 
    background-color: rgb(232,232,255);
    border: 5px outset gray
}

#links a:visited {
    color: black
}

#links a:hover {
    color: #D4D4D4; 
    background-color: rgb(0,0,192)
}

#pageContent {
    position: absolute; 
    top: 170px; 
    left: 20px; 
    width: 900px;
}

#pageContent h1 {
    margin: 0px; 
    font-size: 20px; 
    letter-spacing: 3px
}

address {
    clear: left; 
    text-align: center; 
    width: 800px; 
    font-style: normal; 
    color: blue; 
    font-size: 10px; 
    border-top: 2px solid blue; 
    padding: 5px 0px 10px; 
    margin-top: 20px
}









