<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>jhuep_ria_ajax</display-name>
    <servlet>
        <servlet-name>BankController</servlet-name>
        <servlet-class>resources.controllers.BankController</servlet-class>                
    </servlet>
    <servlet>
        <servlet-name>HBCController</servlet-name>
        <servlet-class>resources.controllers.HBCController</servlet-class>                
    </servlet>
    <servlet-mapping>
        <servlet-name>BankController</servlet-name>
        <url-pattern>/bank</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>HBCController</servlet-name>
        <url-pattern>/hbc</url-pattern>
    </servlet-mapping>        
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
